/* CSS stylesheet for the Tcler's Wiki by Steve.Cassidy@mq.edu.au */
/* Tweaks by jcw, 09nov02 - just because it's so terribly easy... */

BODY {
  color: #000;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Trebuchet Ms", Verdana, sans-serif;
}   

H1 { 
  font-size: xx-large;
}

H2 {
  font-size: x-large;
}

/* Set the style of links, A:link is the default style */
A:link { 
    font-weight: bold;
    text-decoration: none;
}

/* These are for links that have been visited or that are clicked on  */
A:visited, A:active { 
   font-weight: bold;
   text-decoration: none;
}

/* Set a background colour for <pre> sections and show text in red      */
/* note that NS4.x and earlier don't show the background colour for the */
/* full width of the page, just for where there's text                  */
pre {
   background-color: #E0E0E0;
   font-weight: bold;
   font-family: monospace;
   color: #802020;
}

/* Style for the page footer which uses <p id='footer'>  */
#footer {
   height: 31px;
   background: url("/wiki-img.gif") no-repeat top right;
}

dt {
   font-weight: bold;
}
